Repository luisrca-tech/Epictetus-Blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

prettier:
  run: biome run prettier --write {staged_files} && git add {staged_files}

🚨 Feature-BL-20-biome-and-lefthook
  .eslintrc.cjs
  bun.lockb
  package.json
  postcss.config.cjs
  src/app/layout.tsx
  tailwind.config.ts
Due: eslint, prettier

🚨 Feature-BL-20-biome-and-lefthook
  lefthook.yml
Due: none

✨ feature-BL-3-sanity-setup
  bun.lockb
  package.json
  sanity.cli.ts
  sanity.config.ts
  src/app/studio/[[...tool]]/page.tsx
  src/sanity/env.ts
  src/sanity/lib/client.ts
  src/sanity/lib/image.ts
  src/sanity/schema.ts
  src/sanity/schemaTypes/authorType.ts
  src/sanity/schemaTypes/blockContentType.ts
  src/sanity/schemaTypes/categoryType.ts
  src/sanity/schemaTypes/postType.ts
  tsconfig.json
Due: eslint, prettier

🚨 Feature-BL-3-sanity-setup
  lefthook.yml
Due: none

🔍️ Feature-BL-14-title-description-favicon
  public/favicon.ico
  public/favicon.svg
  src/app/layout.tsx
Due: eslint, prettier

✨ Feature-BL-18-footer
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint, prettier

♻️ Refactor: use default sequence in colors setup
  src/app/page.tsx
  src/styles/globals.css
  tailwind.config.ts
Due: eslint, prettier

🐛 Fix: wrong gradient color name
  src/app/layout.tsx
Due: eslint, prettier

🔥 Remove: delete eslint and unsed prettier
  .eslintrc.cjs
  prettier.config.js
Due: eslint, prettier

♻️ Build: change rules of biome and create new scripts to use lint and format
  biome.json
  package.json
Due: prettier

♻️ Refactor: create fix and force script command for lint and format to biome
  package.json
Due: prettier

➖ Remove: delete unsed eslint and prettier dependencies
  bun.lockb
  package.json
Due: prettier

🚨 Fix: update lefthook to work only biome lint
  lefthook.yml
Due: none

♻️ Refactor: update wrong lint
  src/app/page.tsx
Due: eslint, prettier

➕ Build: install shadcn to use cn lib
  bun.lockb
  components.json
  package.json
  src/lib/utils.ts
Due: eslint, prettier

✨ Feat: create container component to use in page
  src/components/Container.tsx
  tailwind.config.ts
Due: eslint, prettier

🚚 Refactor: add container into ui folder and use in page
  src/app/page.tsx
  src/components/ui/Container.tsx
Due: eslint, prettier

➕ Build: install shadcn sheet to do menu navigation header
  bun.lockb
  components.json
  package.json
  src/components/ui/sheet.tsx
  src/lib/utils.ts
  tailwind.config.ts
Due: eslint, prettier

💄 Feat: create black color
  src/styles/globals.css
Due: prettier

🔥 Cleanup: remove desnecessary code lines
  src/app/page.tsx
Due: eslint, prettier

✨ Feat: create responsive header component and use it in the layout
  public/images/menu.png
  public/images/search.png
  src/app/layout.tsx
  src/components/Header.tsx
  src/constants/HeaderNavigationItems.ts
Due: eslint, prettier

💄 Style: add new lg padding side for better experience from design
  src/components/ui/Container.tsx
Due: eslint, prettier

add all images from posts of blog
  public/images/author-1.png
  public/images/author-2.png
  public/images/author-3.png
  public/images/author-4.png
  public/images/post-1.png
  public/images/post-2.png
  public/images/post-3.png
  public/images/post-4.png
  public/images/post-5.png
  public/images/post-6.png
  public/images/post-7.png
Due: none

💄 Feat: Add post blog component and container in page
  src/app/page.tsx
Due: eslint, prettier

✨ Feat: create article ui with temporary mock on mobile and desktop
  src/components/ui/ArticleCard.tsx
  src/mock/PostContentItems.ts
  src/types/PostContent.type.ts
Due: eslint, prettier

✨ Feat: does the map in main component to follow the SOLID principles
  src/components/block/BlogPost.tsx
Due: eslint, prettier

🚚 Refactor: update wrong name of folders
  src/app/page.tsx
  src/components/block/PostsBlog.tsx
  src/mock/PostContentMock.ts
Due: eslint, prettier

🚚 Refactor: move temporary images to inside dumb paste
  public/images/dumb/authors/author-1.png
  public/images/dumb/authors/author-2.png
  public/images/dumb/authors/author-3.png
  public/images/dumb/authors/author-4.png
  public/images/dumb/posts/post-1.png
  public/images/dumb/posts/post-2.png
  public/images/dumb/posts/post-3.png
  public/images/dumb/posts/post-4.png
  public/images/dumb/posts/post-5.png
  public/images/dumb/posts/post-6.png
  public/images/dumb/posts/post-7.png
  src/mock/PostContentMock.ts
Due: eslint, prettier

💄 Fix: resolve wrong featured post align
  src/components/ui/ArticleCard.tsx
Due: eslint, prettier

💄 Refactor: centralize header navigation items in center
  src/components/Header.tsx
Due: eslint, prettier

💄 Refactor: simplify css with span-full and use only in md to apply in others resolution
  src/components/block/PostsBlog.tsx
Due: eslint, prettier

♻️ Feat: create slug type from posts mocks
  src/mock/PostContentMock.ts
  src/types/PostContent.type.ts
Due: eslint, prettier

♻️ Feat: use slug at href of title and fix wrong width from image
  src/components/ui/ArticleCard.tsx
Due: eslint, prettier

💄 Fix: resolve duplicate Container causing double paddings
  src/app/page.tsx
Due: eslint, prettier

🔥 Remove: delete all mocks
  public/images/dumb/authors/author-1.png
  public/images/dumb/authors/author-2.png
  public/images/dumb/authors/author-3.png
  public/images/dumb/authors/author-4.png
  public/images/dumb/posts/post-1.png
  public/images/dumb/posts/post-2.png
  public/images/dumb/posts/post-3.png
  public/images/dumb/posts/post-4.png
  public/images/dumb/posts/post-5.png
  public/images/dumb/posts/post-6.png
  public/images/dumb/posts/post-7.png
  src/mock/PostContentMock.ts
  src/types/PostContent.type.ts
Due: eslint, prettier

➕ Build: install dependencies and create script to generate types of sanity
  bun.lockb
  package.json
Due: prettier

🏷️ Feat: use script to generate schema and types from sanity
  sanity.types.ts
  schema.json
Due: eslint, prettier

🚨 Fix: save file to fix compiler
  tsconfig.json
Due: prettier

✨ Feat: fetch sanity posts with client
  src/components/block/BlogList.tsx
  src/components/ui/ArticleCard.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,css,scss,json,md}
